@import "normalize";
@import "layout";
@import "slick";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$body-font: 'Open Sans', sans-serif;
$text-color: #fff;
$secondary-color: #00d7bb;
$semidark-color: #313741;
$dark-color: #22252c;


$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 960px;
$bp-xlarge: 1200px;

body{
	font: 400 14px/1.57 $body-font;
	color: $text-color;
}



/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;

}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
.ba-button{
	display: inline-block;
	color: $text-color;
	text-decoration: none;
	// background: -moz-linear-gradient( 0deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
	// background: -webkit-linear-gradient( 0deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
	// background: -ms-linear-gradient( 0deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
	box-shadow: 2px 2px 43px 0px rgba(38, 225, 178, 0.34);
	background-color: $secondary-color;
	height: 55px;
	line-height: 55px;
	border-radius: 5px;
	padding: 0 25px;
	border: 2px solid transparent;
}
input[type="submit"]:hover,
input[type="button"]:hover,
.ba-button:hover{
	display: inline-block;
	background: $dark-color;
	border: 2px solid $secondary-color;
	color: $secondary-color;
	box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}


.ba-header {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	background: $dark-color;
}
.ba-nav {

}
.ba-menu {
	margin: 0;
	padding: 10px 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	@media (max-width: $bp-medium) {
		padding: 5px;
	}



	&__item-cont {
		width: 20%;
		text-align: center;
		padding: 15px 20px;
		@media (max-width: $bp-medium) {
			width: 33%;
			padding: 5px;
			font-size: 9px;
		}
	}

	&__item {
		position: relative;
		text-decoration: none;
		color: $text-color;
		font-weight: 700;
		display: block;
		outline: none;
		perspective: 700px;

		span {
			position: relative;
			display: block;
			padding: 8px 20px 5px;
			background: $semidark-color;
			box-shadow: inset 0 3px #2f4351;
			-webkit-transition: background 0.6s;
			-moz-transition: background 0.6s;
			transition: background 0.6s;
			-webkit-transform-origin: 50% 0;
			-moz-transform-origin: 50% 0;
			transform-origin: 50% 0;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transform-origin: 0% 50%;
			-moz-transform-origin: 0% 50%;
			transform-origin: 0% 50%;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #fff;
				color: $semidark-color;
				padding: 8px 20px 5px;
				content: attr(data-hover);
				-webkit-transform: rotateX(270deg);
				-moz-transform: rotateX(270deg);
				transform: rotateX(270deg);
				-webkit-transition: -webkit-transform 0.6s;
				-moz-transition: -moz-transform 0.6s;
				transition: transform 0.6s;
				-webkit-transform-origin: 0 0;
				-moz-transform-origin: 0 0;
				transform-origin: 0 0;
				pointer-events: none;
			}
		}
		&.active span,
		&:hover span,
		&:hover span {
			background: #2f4351;
		}
		&.active span:before,
		&:hover span:before,
		&:hover span:before {
			-webkit-transform: rotateX(10deg);
			-moz-transform: rotateX(10deg);
			transform: rotateX(10deg);

		}

	}

}

.ba-hero {
	background: $secondary-color url('../img/bg-intro.jpg') 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 80vh;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
		@media (max-width: $bp-medium) {
			text-align: center;
		}
	}
	&__hello {
		font-size: 120px;
		line-height: 1;
		font-weight: 300;
		margin: 0;
		@media (max-width: $bp-medium) {
			font-size: 70px;
		}

	}
	&__title {
		font-size: 84px;
		font-weight: 700;
		margin: 0 0 12px;
		line-height: 1;
		@media (max-width: $bp-medium) {
			font-size: 70px;
		}
	}
	&__im {
		font-weight: 300;
	}
	&__description {
		font-size: 28px;
		margin: 0;
		line-height: 1;
	}
}

.ba-about {
	background-color: $dark-color;
	padding: 125px 0 85px;
	@media (max-width: $bp-medium) {
		padding: 85px 0 25px;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__info {
		width: 50%;
		padding-bottom: 80px;
		@media (max-width: $bp-medium) {
			width: 100%;
			text-align: center;
		}
	}
	&__photo {
		padding: 43px 30px 80px 0;
		width: 50%;
		@media (max-width: $bp-medium) {
			width: 100%;
			text-align: center;
			padding-right: 0;
		}
		@media (max-width: $bp-large) {
			padding-top: 0;
		}

	}

	&__photo-cont {
		position: relative;
		margin-bottom: 30px;
	}

	&__photo-cont:before {
		content: " ";
		position: absolute;
		left: 43px;
		top: -43px;
		width: 386px;
		height: 386px;
		border: 7px solid;
		border-image: linear-gradient(90deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
		border-image-slice: 1;
		z-index: 1;
		@media (max-width: $bp-large) {
			display: none;
		}
	}
	&__photo-img {
		position: relative;
		display: block;
		z-index: 2;
		@media (max-width: $bp-medium) {
			width: 100%;
		}
		@media (max-width: $bp-large) {
			border: 7px solid;
			border-image: linear-gradient(90deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
			border-image-slice: 1;
		}
	}
}

.ba-button--about {
	margin-left: 45px;
	@media (max-width: $bp-medium) {
		margin-left: 0;
	}
}

.ba-section__title {
	background: -moz-linear-gradient( 0deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
	background: -webkit-linear-gradient( 0deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
	background: -ms-linear-gradient( 0deg, rgb(0,242,152) 0%, rgb(7,247,247) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: table;
	font-size: 45px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	line-height: 1;
	@media (max-width: $bp-medium) {
		margin: 0 auto;
	}
}

body.safari .ba-section__title{
	background: none;
	color: $secondary-color;
	display: table;
	-webkit-text-fill-color: $secondary-color;
	-webkit-background-clip: none;
}

.ba-about-list {
	padding: 0;
	margin: 0;
	list-style: none;
	&__item-name {
		color: $secondary-color;
	}
	&__item + &__item {
		margin-top: 10px;
	}
	&__item-link {
		color: #FFF;
		text-decoration: none;
		&:hover {
			color: $secondary-color;
		}
	}
}

.ba-interests {
	&__title {
		margin-bottom: 40px;
		margin: 0 auto 40px;
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		width: 16%;
		text-align: center;
		@media (max-width: $bp-medium) {
			width: 32%;
		}
	}
	&__item-icon {
		font-size: 44px;
		color: $secondary-color;
		width: 90px;
		height: 90px;
		line-height: 84px;
		border: 2px solid $secondary-color;
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
		background-color: $dark-color;
		margin: 0 auto;
		transition: background-color .5s, color .5s;

		&:hover {
			background-color: $secondary-color;
			color: #FFF;
			transition: background-color .5s, color .5s;
		}
		&:hover ~ .ba-interests__item-title {
			opacity: 1;
			transition: opacity 0.5s;
		}
	}
	&__item-title {
		font-size: 25px;
		color: #FFF;
		opacity: 0;
		font-weight: 400;
		margin: 10px 0 25px;
		transition: opacity 0.5s;


	}
}

.ba-education {
	background-color: $semidark-color;
	padding: 105px 0 85px;
	@media (max-width: $bp-medium) {
		padding: 85px 0 25px;
	}
	&--exp {
		background-color: $dark-color;
	}
	&__title {
		margin: 0 auto 40px;
	}
	&__body {
		margin: 0 auto;
		max-width: 600px;
		position: relative;
		&:after {
			content: "";
			height: 100%;
			width: 6px;
			background-color: $secondary-color;
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			transform: translateX(-50%);
			z-index: 0;

		}
	}
	&__icon {
		position: relative;
		z-index: 1;
		margin-bottom: 50px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: $dark-color;
			border: 3px solid $secondary-color;
			z-index: 1;
		}
	}
	&__item + &__item {
		margin-top: 50px;
	}
	&__item-left-col {
		width: 45%;
		text-align: right;
		@media (max-width: $bp-small) {
			width: 40%;
		}
	}
	&__item-right-col {
		width: 45%;
		text-align: left;
		@media (max-width: $bp-small) {
			width: 40%;
		}
	}
	&__digree {
		line-height: 1.3;
		margin: 5px 0 10px;
		color: $secondary-color;
		font-size: 20px;
		@media (max-width: $bp-small) {
			font-size: 15px;
		}

	}
	&__digree-discription {
		margin: 5px 0;

	}
	&__place {
		font-size: 18px;
		margin: 5px 0 10px;
		line-height: 1.3;

	}
	&__end {
		margin: 50px auto 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $secondary-color;
	}
}

.ba-skills {
	background-color: $dark-color;
	padding: 50px 0 50px;
	@media (max-width: $bp-medium) {
		padding: 25px 0 30px;
	}
	&__title {
		margin: 0 auto 75px;
		@media (max-width: $bp-medium) {
			margin-bottom: 25px;
			font-size: 35px;
		}
	}
	&__body {
		background-color: $semidark-color;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 50px 0;
		margin: 0;
		list-style: none;
	}
	&__item {
		width: 45%;
		padding-top: 50px;
		@media (max-width: $bp-medium) {
			width: 100%;
		}
	}
	&__item-title {
		margin: 0 0 10px;
		line-height: 1;
		font-size: 20px;
		@media (max-width: $bp-small) {
			font-size: 14px;
		}
	}
	&__line {
		height: 6px;
		background-color: #000;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			height: 6px;
			left: 0;
			top: 0;
			background-color: $secondary-color;
		}
	}
	&__line--html:after {
		width: 90%;
	}
	&__line--js:after {
		width: 65%;
	}
	&__line--css:after {
		width: 80%;
	}
	&__line--wp:after {
		width: 45%;
	}
	&__line--php:after {
		width: 30%;
	}
	&__line--react:after {
		width: 25%;
	}
	&__marker {
		height: 20px;
		width: 12px;
		border-radius: 50%;
		background-color: $secondary-color;
		position: absolute;
		top: -7px;
	}
	&__marker--html {
		left: 90%;
	}
	&__marker--js {
		left: 65%;
	}
	&__marker--css {
		left: 80%;
	}
	&__marker--wp {
		left: 45%;
	}
	&__marker--php {
		left: 30%;
	}
	&__marker--react {
		left: 25%;
	}
	&__value {
		position: absolute;
		top: -30px;
		left: -12px;
		font-size: 20px;
	}
}
.ba-skills-info {
	padding-top: 100px;
	@media (max-width: $bp-medium) {
		padding-top: 60px;
	}
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__col {
		width: 33%;
		background-color: $semidark-color;
		padding: 30px 30px 60px;
		cursor: pointer;
		transition: background-color .5s;
		margin-bottom: 30px;
		@media (max-width: $bp-medium) {
			width: 100%;
		}
	}

	&__num {
		font-weight: 700;
		font-size: 30px;
		color: #000;
		margin: 0;
	}
	&__title {
		font-size: 30px;
		margin: 0;
		color: $secondary-color;
	}
}
@media (min-width: $bp-medium+1) {
	.ba-skills-info__col:hover {
		background-color: $secondary-color;
		transform: scale(1.05);
		transition: background-color .5s, transform .5s;
		.ba-skills-info__title {
			color: #000;
		}
	}
}

// portfolio section
.ba-portfolio {
	background-color: $dark-color;
	padding-top: 120px;
	@media (max-width: $bp-medium) {
		padding-top: 70px;
	}
	&__title {
		margin: 0 auto 50px;
	}
	&__body {
		background: $secondary-color url('../img/port-bg.jpg') 50%;
		background-size: cover;
		padding: 60px 0 30px;
	}
	&__screen {
		display: block;
		position: relative;

	}
	&__slide {
		margin: 0 15px;
		&.slick-center {
			.ba-portfolio__slide-overlay {
				background: none;
				transition: background-color .5s;
			}
		}
	}
	&__work {
	}
	&__link {
		display: block;
		text-decoration: none;
		position: relative;
		overflow: hidden;

	}
	&__slide-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 255, 222, 0.5);
		transition: background-color .5s;

	}
	&__link:hover {
		.ba-portfolio__overlay {
			transform: translateY(0);
			transition: transform .7s ease-in;
		}
		.ba-portfolio__slide-overlay {
			background: none;
			transition: background-color .5s;
		}
	}

	&__overlay {
		position: absolute;
		left: 5%;
		top: 5%;
		right: 5%;
		bottom: 5%;
		background-color: rgba(255, 255, 255, 0.8);
		transform: translateY(108%);
		transition: transform .7s ease-in;
		&:before {
			content: "";
			position: absolute;
			left: 30%;
			right: 30%;
			height: 4px;
			top: 30%;
			background-color: $secondary-color;
		}
		&:after {
			content: "";
			position: absolute;
			left: 49%;
			width: 4px;
			top: 10%;
			bottom: 50%;
			background-color: $secondary-color;
		}
	}
	&__work-title {
		position: absolute;
		bottom: 15%;
		left: 5%;
		font-size: 30px;
		color: $dark-color;
	}
	&__work-subtitle {
		font-size: 18px;
		color: $secondary-color;
		position: absolute;
		bottom: 10%;
		left: 5%;
	}
}

.ba-portfolio-count {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: $dark-color;
	margin-top: 20px;
}

.ba-portfolio-prev,
.ba-portfolio-next {
	padding: 0;
	display: inline-block;
	background: none;
	font-size: 60px;
	border: none;
	&:hover,
	&:active,
	&:focus {
		color: #FFF;
		outline: none;
	}
}
.ba-portfolio-count__current,
.ba-portfolio-count__total {
	margin: 0 10px;
}

// testimonials section

.ba-testimonials {
	background-color: $dark-color;
	padding: 100px 0;
	text-align: center;
	@media (max-width: $bp-medium) {
	padding: 50px 0;
	}
	&__title {
		margin: 0 auto 75px;
	}
	&__slider-1 {
		max-width: 350px;
		margin: 0 auto 5px;
	}
	&__slide-1 {
		margin: 0 10px;
		filter: grayscale(1);
		transition: filter .3s;
		&:active,
		&:focus {
			outline: none;
		}
		&:hover {
			filter: grayscale(0.5);
		}
		&.slick-center {
			filter: grayscale(0);
		}
	}
	&__slider-2 {
		font-size: 20px;
		margin: 0 auto;
		color: $secondary-color;
		i {
			font-size: 40px;
		}
		p {
			color: #FFF;
			position: relative;
			max-width: 700px;
			margin: 30px auto 0;
			@media (max-width: $bp-medium) {
				max-width: 300px;
				font-size: 14px;
			}

			&:before {
				content: ' " ';
				font-size: 50px;
				position: absolute;
				left: -20px;
				top: -30px;
			}
			&:after {
				content: ' " ';
				font-size: 50px;
				position: absolute;
				right: -20px;
				top: -30px;
			}
		}
	}
	&__slide-2 {
		&:active,
		&:focus {
			outline: none;
		}
	}
	&__client-name {
		margin: 0;
	}
}

.ba-hireme {
	background-color: $secondary-color;
	padding: 50px 0;
	&__body {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	&__left-col {
		text-align: center;
		color: $dark-color;
		@media (max-width: $bp-medium) {
			width: 100%;
		}
		p {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	&__title {
		font-size: 40px;
		margin: 0;
		font-weight: 800;
		line-height: 1.2;
	}
	&__right-col {
		text-align: center;
		@media (max-width: $bp-medium) {
			width: 100%;
		}
	}
}

.ba-button--hire {
	background-color: $dark-color;
	padding: 0 50px;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: $secondary-color;
	@media (max-width: $bp-medium) {
		margin-top: 30px;
	}
	&:hover {
		background-color: #FFF;
		border-color: transparent;
		color: $dark-color;
	}
}

// contact
.ba-contact {
	background-color: $dark-color;
	padding: 100px 0;
	@media (max-width: $bp-medium) {
		padding: 50px 0;
	}
	&__title {
		margin: 0 auto 50px;
	}
	&__form {
		display: block;
		text-align: center;
	}
	&__form-top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__form-row {
		width: 48%;
		@media (max-width: $bp-medium) {
			& + & {
				margin-top: 30px;
			}
			width: 100%;
		}
		height: 50px;
		line-height: 50px;
		background: none;
		border: none;
		border-bottom: 2px solid $semidark-color;
		color: $secondary-color;
		font-size: 18px;
		padding-left: 20px;
		&:focus {
			outline: none;
			border-bottom: 2px solid $secondary-color;
			&::placeholder {
				transform: translate(50px 50px);
			}
		}
	}
	&__form-row--textarea {
		background: none;
		border: none;
		resize: none;
		width: 100%;
		line-height: 35px;
		border-bottom: 2px solid $semidark-color;
		padding-left: 20px;
		font-size: 18px;
		color: $secondary-color;
		margin-bottom: 50px;
		&:focus {
			outline: none;
			border-bottom: 2px solid $secondary-color;
		}
	}
}

.ba-button--contact {
	padding: 0 50px;
	font-weight: 600;
}

.ba-footer {
	background-color: $semidark-color;
	padding: 50px 0 25px;
	&__copyright {
		text-align: center;
		border-top: 2px solid $dark-color;
		padding-top: 30px;
		color: $secondary-color;
	}
}
.ba-social {
	list-style: none;
	padding: 0;
	margin: 0 0 50px;
	display: flex;
	justify-content: center;
	&__item + &__item {
		margin-left: 30px;
	}
	&__link {
		display: block;
		width: 50px;
		height: 50px;
		line-height: 48px;
		background-color: $dark-color;
		color: $secondary-color;
		font-size: 22px;
		text-align: center;
		border-radius: 50%;
		border: 1px solid $secondary-color;
		&:hover {
			background-color: $secondary-color;
			color: $dark-color;
		}
	}
	&__link--git {
		font-size: 30px;

	}
}





.cbalink {
	display: none !important;
}
